!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .email-container{style: 'width: 100%', type: 'text/css'}
      .banner{style: 'position: relative; width: 1100px; margin-bottom: 20px', type: 'text/css'}
        .info{style: 'color: #585858; text-align: left; font-family: arial; width: 100%', type: 'text/css'}
          .name{style: 'font-size: 25px; color: #061937;  margin-bottom: -5px', type: 'text/css'}
            = @restaurant['vendor_name']
          .description{style: 'font-size: 12px;'}
            = @restaurant['vendor_description']
        %br
      .food-items.display-inline-flex-start{style: 'width: 1100px;', type: 'text/css'}
        - @dishes.each_with_index do |item, idx|
          - style = 'vertical-align: top; margin-right: 20px; border-radius: 5px; background: #E4DDD9; width: 240px; margin-bottom: 25px; display: inline-block; font-size: 13px;'
          .food-item.text-center{style: style, type: 'text/css'}
            .details{style: 'padding: 15px; height: 100%; box-sizing: border-box'}
              %h5{style: 'text-align: left; color: #000040; margin: 0 0 10px 0', type: 'text/css'}
                - if item['name'].length > 30
                  = "#{item['name'][0..30]}.."
                - else
                  = "#{item['name']}"
              %div{style: 'border-bottom: 1px solid black; margin-bottom: 10px'}
              %div{style: 'text-align: left; position: absolute; color: #888080; font-size: 12px'}
                - item['necessary_labels'].sort.each do |label|
                  %div
                    = label
